/* Google Fonts */
.caption {
    font-family: 'Bodoni Moda', serif;
    font-size: 32px;
    text-align: center;
    color: #fff;
    padding-top: 8em;
}
    
h1 {
    font-family: 'Bodoni Moda', serif;
    
}
p {
    font-family: 'Open Sans', sans-serif;;
}
a {
    font-family: 'Open Sans', sans-serif;;
    font-weight: bold;
}
